<div class="@NoteStyle" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@DataContext.Title</h5>
        <p class="card-text">@DataContext.Description</p>
    </div>
</div>